%div.field= f.label :name
= f.text_field :name

%div.field= f.label :directions
= f.text_area :directions

%div.field= f.label :ingredient_raw_text
= f.text_area :ingredient_raw_text

%div.field= f.label :cuisine
= f.text_field :cuisine

%div.field= f.label :calories
= f.number_field :calories

%div.field= f.label :images
= f.file_field :images

= f.hidden_field :user_id, :value => current_user.id
