=label :recipe, :name, "Name"
=text_field :recipe, "name"
= label :recipe, :directions, "Directions"
= text_field :recipe, "directions"
= label :recipe, :cuisine, "Cuisine"
= text_field :recipe, "cuisine"
= label :recipe, :calories, "Calories"
= number_field :recipe, "calories"
