%div.recipe_container
  %div.main_title= link_to "#{r.name}", recipe_path(r)
  %div.user= link_to "by: #{User.find(r.user_id).username}", user_path(r.user_id)
  -r.images.each do |img|
    %div.image= image_tag(img, width: '700')
    -break
  %div.ingredients= "Requires #{r.ingredients.size} ingredients"
  %div.directions= "#{r.directions}"
  %div.calories= "Calories: #{r.calories}"
  %br
