%div.main_container
  %h2 Edit Recipe
  -# = form_tag recipe_path(@recipe), :method => :put do
  -#   = render :partial => "create_update_form"
  -#   = submit_tag "Update Recipe"

  -# I commented out the partial because I couldn't get the picture to attach without form_for -Winters
  =form_for @recipe, :method => :patch do |f|
    %div.field= f.label :name
    = f.text_field :name

    %div.field= f.label :directions
    = f.text_area :directions

    %div.field= f.label :cuisine
    = f.text_field :cuisine

    %div.field= f.label :calories
    = f.number_field :calories

    %div.field= f.label :images
    = f.file_field :images

    %br
    %br
    %div= submit_tag "Update Recipe", :class => 'btn btn-info'
