#main
  %header
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/stylesheets/bootstrap.min.css"}
  %div.main_container
    %h1 Recipes List
    %p= link_to 'Create New Recipe', new_recipe_path, :class => 'btn btn-info'
    %div.flexbox
      %div.recipes
        -@recipes.each do |r|
          %div.recipe_container
            %div.title= link_to "#{r.name}", recipe_path(r)
            -r.images.each do |img|
              %div.image= image_tag(img, height: '400')
              -break
            %div.directions= "Directions: #{r.directions}"
            %div.calories= "Calories: #{r.calories}"
            %br

      %div.search_box
