#main
  %h1 Recipes List

  %table.recipes_table
    %tr.recipes_header
      %th Title
      %th Instructions
      %th Time
      %th Picture

    -@recipes.each do |r|
      %tr.recipe
        %td.recipename= link_to "#{r.name}", recipe_path(r)
        %td.recipedesc= r.description
        %td.recipetime= "#{r.time} mins"
        %td.recipepic= "#{number_to_currency(r.price)}"
