#main
  %h1 Recipes List

  %table.recipes_table
    %tr.recipes_header
      %th Title
      %th Instructions
      %th Time
      %th Picture

    %p= link_to "Create New Recipe", new_recipe_path
    -@recipes.each do |r|
      %tr.recipe
        %td.recipename= link_to "#{r.name}", recipe_path(r)
        %td.recipedesc= r.directions
        %td.recipetime= "#{r.calories} calories"
