#main
  %div.main_container
    =link_to("Back to recipe list", recipes_path)
    %div.recipes
      %div.content_container
        - if user_signed_in?
          - if current_user.id == @recipe.user_id
            %p=link_to octicon("pencil"), edit_recipe_path
            %p=link_to octicon("trashcan"), recipe_path, method: :delete
        %div.main_title= "#{@recipe.name}"
        %div.user= "by: #{User.find(@recipe.user_id).username}"

        .offset-md-1.col-md-1
          %h4
            =octicon "triangle-up"
            %span#upcount.text-success="#{@recipe.upvotes}"
        .col-md-1
          %h4
            =octicon "triangle-down"
            %span#downcount.text-danger="#{@recipe.downvotes}"
        .offset-md-1.col-md-2
          -if user_signed_in?
            %span.badge.badge-dark Vote
            %span
              =link_to octicon("thumbsup"), upvote_path(@recipe.id), :method => :post, :id => :upvote, :remote => true
            %span
              =link_to octicon("thumbsdown"), downvote_path(@recipe.id), :method => :post, :id => :downvote, :remote => true
          -else
            .alert.alert-secondary.small Sign in or sign up to vote sights up or down.


        -@recipe.images.each do |img|
          %div.image= image_tag(img, width: '700')
          -break
        %br
        -if !@recipe.ingredients.empty?
          %div.ingredients
            Ingredients
            %br
            -@recipe.ingredients.each do |ingredient|
              = "- #{ingredient.name}"
              %br
          %br
        %div.directions
          Directions:
          %br
          = "#{@recipe.directions}"
        %br
        %div.calories= "Calories: #{@recipe.calories}"
        %br
      %div.subtitle
        Reviews
      %div.content_container
        %br
        - count = 1
        -@recipe.reviews.each do |review|
          = "Reviewed by #{User.find(review.user_id).username}"
          %br
          = review.description
          %br
          = "#{review.rating}/5"
          %br
          %br
          -if count == 3
            -break
          -count += 1
        %p=link_to "View more", reviews_path << "?recipe_id=#{@recipe.id}"
        %p=link_to "Add Review", new_review_path << "?recipe_id=#{@recipe.id}"

      -if @similar
        %div.subtitle
          Related Recipes
        %div.content_container
          %br
          %div.title= link_to "#{@similar.name}", recipe_path(@similar)
          %div.user= link_to "by: #{User.find(@similar.user_id).username}", user_path(@similar.user_id)
          -@similar.images.each do |img|
            %div.image= image_tag(img, width: '300')
            -break
          %div.ingredients= "Requires #{@similar.ingredients.size} ingredients"
          %div.directions= "#{@similar.directions}"
          %div.calories= "Calories: #{@similar.calories}"
          %br
