#main
  %div.main_container
    =link_to("Back to recipe list", recipes_path)
    %div.recipes
      %div.recipe_container
        %div.title= link_to "#{@recipe.name}", recipe_path(@recipe)
        %div.user= "by: #{User.find(@recipe.user_id).username}"
        -@recipe.images.each do |img|
          %div.image= image_tag(img, width: '700')
          -break
        %br
        -if !@recipe.ingredients.empty?
          %div.ingredients
            Ingredients
            %br
            -@recipe.ingredients.each do |ingredient|
              = "- #{ingredient.name}"
              %br
          %br
        %div.directions
          Directions:
          %br
          = "#{@recipe.directions}"
        %br
        %div.calories= "Calories: #{@recipe.calories}"
        %br
      %div.reviews_title
        Reviews
      %div.reviews_container
        %br
        - count = 1
        -@recipe.reviews.each do |review|
          = "Reviewed by #{User.find(review.user_id).username}"
          %br
          = review.description
          %br
          = "#{review.rating}/5"
          %br
          %br
          -if count == 3
            -break
          -count += 1
      %p=link_to "Add Review", new_review_path << "?recipe_id=#{@recipe.id}"
    - if user_signed_in?
      - if current_user.id == @recipe.user_id
        %p=link_to("Edit Recipe", edit_recipe_path)
        %p=link_to "Delete Recipe", recipe_path, method: :delete
