#main
  %div.main_container
    %div.recipes
      %div.content_container
        %p=link_to octicon("chevron-left"), recipes_path
        %div.recipe_headers
          %div.main_title= "#{@recipe.name}"
          %div.user= "by: #{User.find(@recipe.user_id).username}"
        %div.edit_buttons
          - if user_signed_in?
            - if current_user.id == @recipe.user_id
              %h4
                =link_to octicon("pencil"), edit_recipe_path
                =link_to octicon("trashcan"), recipe_path, method: :delete
        -@recipe.images.each do |img|
          %div.image= image_tag(img, width: '700')
          -break
        %div.like_button_bar
          %h4
            =link_to octicon("thumbsup"), upvote_path(@recipe.id), :method => :post, :id => :upvote, :remote => true, "data-type" => "json"
            %span#upcount.text-success="#{@recipe.upvotes}"
            =link_to octicon("thumbsdown"), downvote_path(@recipe.id), :method => :post, :id => :downvote, :remote => true, "data-type" => "json"
            %span#downcount.text-danger="#{@recipe.downvotes}"
        %br
        -if !@recipe.ingredients.empty?
          %div.ingredients
            Ingredients
            %br
            -@recipe.ingredients.each do |ingredient|
              = "- #{ingredient.name}"
              %br
          %br
        %div.directions
          Directions:
          %br
          = "#{@recipe.directions}"
        %br
        %div.calories= "Calories: #{@recipe.calories}"
        %br
      %div.subtitle
        Reviews
      %div.content_container
        %br
        - count = 1
        %ul
          -@recipe.reviews.each do |review|
            =render :partial => review, :review => review
            -if count == 10
              -break
            -count += 1
        -if user_signed_in?
          =form_with(id: :review_form, model: Review.new, url: create_review_path(@recipe), data: { type: :json } ) do |f|
            =f.label :description
            =f.text_area :description, :id => "descriptionbox"
            =f.label :rating
            =f.number_field :rating, :id => "rating"

            =f.submit "Add comment", :remote => true, "data-type" => "json"
        -else
          %p Sign in to post a comment.

        -# %p=link_to "Submit Review", add_review_path(@recipe.id), :method => :post, :id => :add_review, :remote => true, :class => "btn btn-primary"
        -# %p=link_to "View all reviews", reviews_path << "?recipe_id=#{@recipe.id}"

      -if @similar
        %div.subtitle
          Related Recipes
        %div.content_container
          %br
          %div.title= link_to "#{@similar.name}", recipe_path(@similar)
          %div.user= link_to "by: #{User.find(@similar.user_id).username}", user_path(@similar.user_id)
          -@similar.images.each do |img|
            %div.image= image_tag(img, width: '300')
            -break
          -union = (@recipe.ingredients + @similar.ingredients).uniq
          -diff = (@recipe.ingredients - @similar.ingredients | @similar.ingredients - @recipe.ingredients)
          -intersection = union - diff
          %div.ingredients= "Has #{intersection.size} common #{"ingredient".pluralize(intersection.size)}"
          %br
