-# We should change the show layout so that it isn't a table, Looks bad

#main
  %div.main_container
    =link_to("Back to recipe list", recipes_path)
    %div.title= @recipe.name
    -@recipe.images.each do |img|
      %div.image= image_tag(img, height: '400')
    %div.directions= "Directions: #{@recipe.directions}"
    %div.calories= "Calories: #{@recipe.calories}"

    %p=link_to("Edit Recipe", edit_recipe_path)
    %p=link_to "Delete Recipe", recipe_path, method: :delete
