#main
  %header
  %hr
  %div.main_container
    %h1=@user.username
    %h4 Recipes
    %div.recipes
      -@recipes.each do |r|
        = render "user_recipe", r: r
    %div.upvotes
      %h4 Liked Posts
      -@user.upvotes.each do |upvote|
        = link_to upvote.recipe.name, recipe_path(upvote.recipe)
        by
        = link_to upvote.recipe.user.username, user_path(upvote.recipe.user)
        %br
    %br
    -if user_signed_in?
      -if current_user.id == @user.id
        %h4="Your History:"
        %div.history_container
          -@history.each do |r|
            =link_to "#{r.name}", recipe_path(r)
            by
            =link_to "#{r.user.username}", user_path(r.user)
            %br
