!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Reci
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body.background
    %p= flash[:notice]
    %p= flash[:warning]
    #header
      .logo= image_tag("reci_logo.png", :width => 200)
      .offset-md-6.col-md-2
        -if user_signed_in?
          %p
            .button-navigate.devise
              %span= "hello, #{current_user.username}"
              =link_to "logout", destroy_user_session_path, method: :delete, :class => "btn btn-primary btn-sm"
        -else
          %br
          .button-navigate.devise
            =link_to "Sign In", new_user_session_path, :class => "btn btn-success btn-sm"
            =link_to "Sign Up", new_user_registration_path, :class => "btn btn-warning btn-sm"
    = yield
